# Test targets are required to depend on our junit rather than using the one provided by Bazel
build --sandbox_writable_path=/home/deza/codes/batfish/smts/ \
      --action_env=SMT_DIRECTORY_PREFIX=/home/deza/codes/batfish/smts/ \
      --explicit_java_test_deps
